/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@media only screen and (min-width: 760px) {
  header {
    background: #50505A;
    height: 10vh;
    text-align: center;
    border-bottom: 2px solid #B4B4BE;
  }
  header h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding-top: 2vh;
    color: #B4B4BE;
  }
  .link {
    text-decoration: none;
    color: black;
    padding: 5px 15px 5px 15px;
    border-right: 1px solid #B4B4BE;
    border-left: 1px solid #B4B4BE;
    font-size: 25px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #B4B4BE;
    font-family: 'Roboto', sans-serif;
    background: #50505A;
  }
  .nav h1 {
    color: #B4B4BE;
  }
  .cal1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cal1 .calendar-container {
    border: 2px solid skyblue;
    width: 500px;
    height: 350px;
    margin-top: 10em;
  }
  .cal1 .calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  .cal1 .calendar-header {
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    width: 480px;
    border-bottom: 1px solid skyblue;
  }
  .cal1 .displayMonth {
    margin-left: 20px;
  }
  .cal1 .nav-month {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
  }
  .cal1 a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
  }
  .cal1 .prev {
    color: black;
    cursor: pointer;
    padding: 5px;
  }
  .cal1 .next {
    color: black;
    cursor: pointer;
    padding: 5px;
  }
  .cal1 .month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
  }
  .cal1 .month-popup div {
    padding: 0.3em;
  }
  .cal1 .editor-year {
    max-width: 3.6em;
  }
  .cal1 .label-month,
  .cal1 .label-year {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  .cal1 .label-month {
    cursor: pointer;
  }
  .cal1 .day,
  .cal1 .empty-slot,
  .cal1 .week-day {
    text-align: center;
    height: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  .cal1 .day {
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .cal1 .current-day {
    background-color: #4285f4;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
  }
  .cal1 .selected-day {
    background-color: yellow;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: black;
  }
  .cal2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #8471b2;
    height: 85.8vh;
  }
  .cal2 .calendar-container {
    background: #29323f;
    width: 370px;
    height: 500px;
    padding: 20px;
    margin-top: 10em;
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
  }
  .cal2 .calendar {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  .cal2 .calendar-header {
    font-size: 1.6em;
    font-family: 'Dosis', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    width: 320px;
    background: #29323f;
    color: #8471b2;
    border-radius: 25px;
  }
  .cal2 .displayMonth {
    margin-left: 20px;
  }
  .cal2 .nav-month {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    margin-right: 20px;
  }
  .cal2 a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: #8471b2;
  }
  .cal2 .prev {
    cursor: pointer;
    padding: 5px;
  }
  .cal2 .next {
    cursor: pointer;
    padding: 5px;
  }
  .cal2 .month-popup {
    position: absolute;
    padding: 5px;
    background: #29323f;
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
  }
  .cal2 .month-popup div {
    padding: 0.3em;
  }
  .cal2 .editor-year {
    max-width: 3.6em;
  }
  .cal2 .label-month,
  .cal2 .label-year {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
  }
  .cal2 .label-month {
    cursor: pointer;
  }
  .cal2 .day,
  .cal2 .empty-slot,
  .cal2 .week-day {
    text-align: center;
    height: 20px;
  }
  .cal2 .week-day {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: #999;
  }
  .cal2 .day {
    font-size: 18px;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    width: 25px;
    height: 40px;
    line-height: 40px;
    color: #c0b7b7;
  }
  .cal2 .day:hover {
    background-color: #8471b2;
    border-radius: 0px;
    color: #c0b7b7;
  }
  .cal2 .current-day {
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #e6dc83;
  }
  .cal2 .selected-day {
    background-color: #8471b2;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */